@import "../../../SharedSCSS/Variables/Mixins";
@import "../../../SharedSCSS/Variables/Dimensions";
@import "../../../SharedSCSS/Variables/AppColors";

.layout-wrapper {
  @include flex(row);
  height: 100vh;
  width: 100vw;
}

.layout-left-section {
  width: calc(100px + 15vw);
  height: 100%;
}

.layout-right-section-navbar-logo-mobile {
  display: none;
  align-items: center;
}

.layout-right-section {
  flex: 1;
  height: 100%;
  @include flex(column);
}

.layout-right-section-navbar {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: $generalPadding;

  h3 {
    font-size: calc(12px + 0.5vw);
  }
}

.layout-right-section-body {
  width: 100%;
  padding: 0 $generalPadding;
  flex: 1;
}

@media only screen and (max-width: 700px) {
  .layout-left-section {
    display: none;
  }

  .layout-right-section-navbar-logo-mobile {
    @include flex(row);
  }

  .layout-right-section-navbar-menu-icon-mobile {
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
    margin-right: calc(10px + 1vw);
    color: $lightGrey;
    cursor: pointer;
  }

  .layout-right-section-navbar-menu-icon-mobile:hover {
    color: $black;
  }
}
