@import "../../../SharedSCSS/Variables/Mixins";
@import "../../../SharedSCSS/Variables/AppColors";
@import "../../../SharedSCSS/Variables/Dimensions";

.sidebar-wrapper {
  @include flex(column);
  height: 100%;
  width: 100%;
  padding: $generalPadding;
  background-color: $offWhite;
}

.sidebar-logo {
  @include flex(row);
  align-items: center;
  h3 {
    color: $primary;
    margin-left: calc(3px + 0.3vw);
  }
}

.sidebar-menu-wrapper {
  padding-top: calc(30px + 0.5vh);

  button {
    @include flex(row);
    align-items: center;
    color: $lightGrey;
  }

  button:hover {
    color: $black;
  }

  .sidebar-menu-icon {
    height: calc(10px + 0.5vw);
    width: calc(10px + 0.5vw);
  }

  h4 {
    margin-left: calc(3px + 0.3vw);
    font-size: calc(10px + 0.5vw);
    font-weight: 500;
  }

  h4:hover {
    font-weight: bold;
  }
}

.sidebar-active-menu {
  button {
    color: $black;
  }

  h4 {
    font-weight: bold;
  }
}
