$primaryColor: #1789FC;
$lightPrimaryColor: #D1E9FF;
$whiteColor: #FFFFFF;
$lightColor: #F8F9FA;
$blackColor: #222222;
$greyColor: #A2A9B0;
$redColor: #FF0015;
$lightRedColor: #FBD5DC;
$greenColor: #5DBA7C;