@import "../../../../SharedSCSS/Variables/Mixins";
@import "../../../../SharedSCSS/Variables/AppColors";

.step-wrapper {
  @include flex(column);
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: calc(10px + 5vw);

  h4 {
    color: $primary;
    font-size: calc(10px + 1vw);
    text-align: center;
  }
}
